#about {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;

    background: linear-gradient(
    to right,
    #FCF7EF 50%,   /* cor da metade esquerda */
    #3A2C27 50%    /* cor da metade direita */
    );
}

.section-title,
.section-services {
    width: 50%;
    padding: 60px 50px;  
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-title h2, 
.section-title h3 {
    font-family: "Playfair Display", serif;
    padding-bottom: 30px;
    color: #3A2C27;
}

.section-title h2 {
    font-size: 2rem;
}

.section-title p {
    font-family: "Lato", sans-serif;
    font-size: 1rem;
    color: #3A2C27;
}

.btn-default{
    margin-top: 20px;
}

.section-services h2,
.section-services h3 {
    font-family: "Playfair Display", serif;
    padding-bottom: 30px;
    color: #C69C55;
}

.section-services h2 {
    font-size: 2rem;
}

.section-services p {
    font-family: "Lato", sans-serif;
    font-size: 1rem;
    color: #C69C55;
}

