#footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 40px 0;
    background-color: var(--backgroun2-color);
}

.footer-logo {
    color: var(--primary-color);
}

#footer #social {
    text-align: center;
    padding-bottom: 25px;
}

#footer #social a {
    font-size: 24px;
    color: var(--primary-color);
    border: 1px solid;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    opacity: 0.75;
}

#footer #social a:hover {
    opacity: 0.9;
}

.copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #837C78;
}

@media screen and (max-width: 1170px) {
    #footer {
        flex-direction: column;
    }

    .footer-logo {
        margin-bottom: 30px;
    }

    .map-box iframe {
        width: 300px;
        height: 200px;
    }
}