#gallery {
    background-color: #3A2C27;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    
}

.gallery-images {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    justify-content: center;
}

@media screen and (max-width: 1170px){
    .section-title{
       font-size: 2rem;
       display: flex;
       text-align: center;
       justify-content: center;
    }
}