#gallery {
    background-color: var(--backgroun2-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;

}

.gallery-images {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    justify-content: center;
}

@media screen and (max-width: 1170px) {
    .section-title {
        display: flex;
        text-align: center;
        justify-content: center;
    }
}