header{
    width: 100%;
    padding: 28px 8%;
}

#navbar{
    font-family: "Lato", sans-serif;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav_logo {
    font-family: "Playfair Display", serif;
    font-size: 24px;
    color: #F2E8D5;
}

#nav_list {
    font-family: "Lato", sans-serif;
    list-style: none;
    display: flex;
    gap: 48px;
}

.nav-item a{
    text-decoration: none;
    color: #F2E8D5;
    font-weight: 600;
}

.nav-item.active a {
    color:#C69C55;
    border-bottom: 3px solid #C69C55;
}

#mobile-btn {
    display: none;
}

#mobile-menu {
    display: none;
}

@media screen and (max-width: 1170px) {
    #nav-list,
    #navbar .btn-default {
        display: none;
    }

    #mobile-btn {
        display: block;
        border: none;
        background-color: transparent;
        font-size: 1.5rem;
        cursor: pointer;
    }
}