#home {
    display: flex;
    min-height: calc(100vh - 96px);
    position: relative;
    display: flex;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;

}

#cta {
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 28px;
    position: relative;
    z-index: 2;
    padding: 60px;
    color: #fff;

}

#cta .title {
    font-family: playfair display, serif;
    font-size: 4rem;
    color: #F2E8D5;
}

#cta .description {
    font-family: "Lato", sans-serif;
    font-size: 1.2rem;
    color: #F2E8D5;
}

#banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    overflow: hidden;
}

#banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#cta-button {
    display: flex;
    gap: 24px;
    margin-top: 12px;
}

#cta-button a {
    text-decoration: none;
}

@media screen and (max-width: 1170px) {
    #home {
        height: 100%;
        padding-top: 0px;
    }

    #banner,
    #baner img {
        height: 100%;
    }

    #cta {
        width: 100%;
        align-items: center;
        text-align: center;
    }
}

