
dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

dialog {
  margin: auto;              
  border: none;
  border-radius: 24px;
  max-width: 90%;
  background-color: var(--primary-color);
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.modal-title {
    font-size: 20px;
    font-weight: 500;
    color: var(--secondary-color);
}

.close-modal {
    cursor: pointer;
    border: none;
    background-color:var(--secondary-color); ;
    font-size: 18px;

}

#modal-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: var(--primary-color);
    border: none;
    width: 450px;
    border-radius: 24px;
    padding: 18px;
}

#reservaForm{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

#reservaForm label {
    font-size: 14px;
    font-weight: 500;

}

#reservaForm input{
    border: 1px solid var(--secondary-color);
    background-color: var(--primary-color);
    border-radius: 8px;
    padding: 8px 12px;
}

#reservaForm input:focus{
    outline: 1px solid var(--secondary-color);
}

.list {
    font-size: 20px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 768px) {
  dialog {
    width: 100%;
    max-width: 95%;
    border-radius: 12px;
    padding: 12px;
  }

  #modal-content {
    border: none;
    width: 100%;
    border-radius: 24px;
    
}



  .modal-title {
    font-size: 18px;
  }

  #reservaForm input {
    font-size: 14px;
    padding: 6px 10px;
  }

  .list {
    font-size: 16px;
  }
}
