#scheduling {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    height: 500px;
}

.scheduling-title {
    font-size: 1.5rem;
    color: var(--secondary-color);
    text-align: center;
    display: flex;
    
    flex-direction: column;
    gap: 30px;
}

.horary {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    font-size: larger;
}