#menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 40px;
}

.services-title {
  font-size: 2rem;
  color: var(--secondary-color);
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.services-title h3 {
  font-size: 1.5rem;
}

#services {
  width: 100%;
}

.service {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  padding: 40px 0;
}

.service-text {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.service-title {
  font-size: 1.75rem;
  font-weight: 700;
  color: var(--secondary-color);
}

.service-description {
  font-size: 1rem;
  color: var(--text-color);
  line-height: 1.5;
}

.service-img {
  max-width: 550px;
  object-fit: cover;
  display: block;
}

@media screen and (max-width: 1170px) {

  .service {
    display: flex;
    flex-direction: column;
    justify-content: center;
  
  }
  .service-text {
    align-items: center;
    
  
  }
  .service-img {    
    max-width: 150px;
  }
}

@media screen and (max-width: 1100px) {
  .service-text {
    
  }
}