@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('header.css');
@import url('home.css');
@import url('services.css');
@import url('gallery.css');
@import url('scheduling.css');
@import url('footer.css');

playfair-display-uniquifier {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

:root {
  --primary-color: #FCF7EF;
  --secondary-color: #C69C55;
  --accent-color: #b5884e;
  --text-color: #1A1A1A;
  --backgroun2-color: #3A2C27;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Playfair Display", serif;
}

body {
  background-color: var(--primary-color);
}

section {
  padding: 28px 8%;
}

.btn-default {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border-radius: 12px;
  padding: 12px 36px;
  font-weight: 600;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-default:hover {
  background-color: var(--accent-color);
}

.section-title {
  color: var(--secondary-color);
  font-size: 2.5rem;
}

.section-subtitle {
  font-size: 1.5rem;
}